.Random{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 700;
}
.button{
    margin: 60px auto;
    padding: 15px;
    width: fit-content;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid #e53935;
    background-color: #e53935;
    cursor: pointer;
    user-select: none;
}
.button:hover{
    background-color: orange;
}